/*ROTATE*/
@keyframes rotate{
    0%{}
    100%{
        transform: rotate(-360deg);
        transition-timing-function: linear;
    }
}

/*APPEAR*/
@keyframes appear-ray{
    0%{}
    50%{
        border:rgb(57, 206, 57) 1px solid;
        box-shadow: 0px 0px 20px rgb(57, 206, 57);
        transition: border .5s ease, box-shadow .5s ease;
    }
    100%{}
}

/*LEVITATE*/
@keyframes levitate{
    0%{}
    100%{margin-bottom: 100vh;}
}

/*LEVITATE HOME-VERSION*/
@keyframes levitate-home{
    0%{}
    100%{margin-bottom: 200%;}
}

/*SEND*/
@keyframes send{
    0%{}
    50%{
        margin-top: 50px;
    }
    100%{
        margin-top: -100%;
    }
}
