body{
    color: white;
}

#main-content{
    position: relative;
}

#main-video-preview{
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 1;
}

#main-video-preview video{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#main-video-preview .info{
    position: absolute;
    bottom: 0;
    width: 70vh;
    height: 50vh;
    padding: 1.5rem;
}

#main-content .row{
    width: 100%;
    padding: 0;
    padding-left: 1rem;
    overflow-x: hidden;
}

.movie-cat{
    height: 30vh;
}
.movie-list{
    height: calc(100% - 2rem);
    display: flex;
}

.movie-cat h4{
    width: 100%;
    height: 2rem;
    margin: 0;
    text-transform: capitalize;
}

.movie{
    height: 100%;
    width: 15rem;
    margin: 0 1rem;
    position: relative;
}
.movie:hover > img{
    filter: brightness(30%)
}
.movie:hover > .infos{
    opacity: 1;
}

.movie-list img{
    width: 100%;
    height: 100%;
}

.movie .infos{
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease;
}